:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #2fa866;
    --cor4: #1e6a40;
    --cor5: #1a5c37;
    --cor6: #063d1e;
    

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}